* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background: #daccf5;
}

.App {
  margin: 30px auto;
  max-width: 600px;
}

.App footer {
  text-align: center;
  font-size: 10px;
  margin: 10px 0;
}

.App .weather-holder {
  background-color: #daccf5;
}
