.Weather {
  border: 1px solid #8356dc;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  max-width: 600px;
  border-radius: 20px;
  color: #878787;
  background-color: #ffffff;
  box-shadow: 8px 8px 7px #b5a9cb, -8px -8px 7px #e0d5f7;
}

.Weather h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #57cc99;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #212121;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .unit {
  font-size: 25px;
  color: #212121;
  font-weight: 400;
  position: relative;
  top: -32px;
}

.Weather .btn {
  background: #8356dc;
  border: none;
  font-weight: bold;
  color: #fff;
}

.Weather hr {
  margin: 40px;
  color: #38a3a5;
}
